---
const links = [
    { href: '/', text: 'List'},
    { href: '/pokemons/1', text: 'Pagination'},
    { href: '/favorites', text: 'Favorites'}
]
---

<!-- component -->
<nav class="shadow dark:bg-slate-800">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
  >
  {
    links.map(({ href, text }) => (
    <a
      href={href}
      class="text-gray-800 dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6"
      >{text}</a>  
    ))
  }
  </div>
</nav>
