---
import MainLayout from "@layouts/MainLayout.astro";
import Title from "@components/shared/Title.astro";
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";

const title = "Favorite Pokemons";
---

<MainLayout title={title}>
  <Title>{title}</Title>
  
  <FavoritePokemons client:only="solid-js" />

</MainLayout>
