---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";

const title = "Favorites"
---

<MainLayout title={title}>
    <Title>{title}</Title>
</MainLayout>